.header {
  width: 78.75%;
  justify-content: space-between;
  display: flex;
  padding: 30px 40px;
  margin: 0 auto 36.25px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px gray;
  opacity: 0.9;
}
/*
@media screen and (max-width: 761px) {
  .header {
    margin: 0;
  }
}*/

@media screen and (max-width: 321px) {
  .header {
    padding: 10px 15px;
    margin: 0 0 38.25px 0;
    justify-content: space-between;
  }
}
