.header {
  width: 78.75%;
  justify-content: space-between;
  display: flex;
  padding: 30px 40px;
  margin: 0 auto 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px gray;
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 761px) {
  .header {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 321px) {
  .header {
    position: fixed;
    top: 2px;
    padding: 10px 15px;
    margin: 0;
  }
}
