.header__slogan {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  color: #ffffff;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
