.header__slogan {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  max-width: 300px;
  color: black;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 761px) {
  .header__slogan {
    display: none;
    font-size: 13px;
    font-size: 7px;
  }
}
