.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@media screen and (max-width: 761px) {
  .container-cart-products {
    max-height: 337px;
    min-width: 169px;
    top: 7px;
    right: 28px;
  }
}
