.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@media screen and (max-width: 761px) {
  .container-cart-products {
    top: 102px;
    right: -145px;
  }
}

@media screen and (max-width: 321px) {
  .container-cart-products {
    right: 13px;
    max-width: 150px;
    top: 40px;
  }
}
