.register {
  width: 60%;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 761px) {
  .register {
    padding-top: 61px;
    max-width: 300px;
  }
}

@media screen and (max-width: 321px) {
  .register {
    padding-top: 50px;
    width: 80%;
  }
}
