.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 761px) {
  .cart-product {
    padding: 2px;
  }
}
