.form__input {
  width: 95%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 2px solid #cccccc;
  margin: 0;
  padding: 3px;
  border-radius: 10px;
}

@media screen and (max-width: 321px) {
  .form__input {
    padding: 4px;
  }
}
