.container-items {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 15px;
  justify-content: space-evenly;

  align-items: center;
}

@media screen and (max-width: 321px) {
  .container-items {
    padding-top: 30px;
    width: 85%;
    justify-content: unset;
  }
}
