.header__user-info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px;
}

@media screen and (max-width: 761px) {
  .header__user-info {
    display: none;
    max-width: 70px;
    padding: 0;
    row-gap: 0;
  }
}
