.item_product {
  background-color: white;
  min-width: 250px;
}

@media screen and (max-width: 531px) {
  .item_product {
    min-width: 140px;
  }
}

@media screen and (max-width: 321px) {
  .item_product {
    width: 100%;
    display: flex;
    max-width: unset;
    align-items: center;
    justify-content: space-between;
  }
}
