.item__image {
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}

.item__image:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 321px) {
  .item__image {
    border-radius: 10px;
    max-width: 100px;
    min-height: 110px;
    max-height: 100px;
    object-fit: cover;
  }
}
