.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 20px;
}

@media screen and (max-width: 321px) {
  .cart-total {
    font-size: 13px;
    padding: 0;
  }
}
