.header__menu-icon {
  transition: opacity 0.3s ease;
  cursor: pointer;
  background-color: black;
  display: none;
}
.header__menu-icon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 321px) {
  .header__menu-icon {
    display: block;
    max-width: 15px;
    max-height: 20px;
    align-self: center;
  }
}
